("Basic data types",basic-type,"Never","Occasionally","Sometimes","Often","?")
("Special data types",any-type,"Never","Occasionally","Sometimes","Often","?")
("Compound data types",list-type,"Never","Occasionally","Sometimes","Often","?")
("Program types",function-type,"Never","Occasionally","Sometimes","Often","?")
("Pattern types",ptn-type,"Never","Occasionally","Sometimes","Often","?")
("Named types",named-type,"Never","Occasionally","Sometimes","Often","?")
("Polymorphic types",poly-type,"Never","Occasionally","Sometimes","Often","?")
("Recursive types",recursive-type,"Never","Occasionally","Sometimes","Often","?")
("Special pattern ops",within,"Never","Occasionally","Sometimes","Often","?")
("Disjunctive patterns",disjunct,"Never","Occasionally","Sometimes","Often","?")
("valof/valis",valof,"Never","Occasionally","Sometimes","Often","?")
("collect/elemis",collect,"Never","Occasionally","Sometimes","Often","?")
("setof/elemis",setof,"Never","Occasionally","Sometimes","Often","?")
("Anonymous fork",fork,"Never","Occasionally","Sometimes","Often","?")
("Public fork",public,"Never","Occasionally","Sometimes","Often","?")
("Multiple",multiple,"Never","Occasionally","Sometimes","Often","?")
("list ops",list,"Never","Occasionally","Sometimes","Often","?")
("index",index,"Never","Occasionally","Sometimes","Often","?")
("Cardinality",card,"Never","Occasionally","Sometimes","Often","?")
("List projections",project,"Never","Occasionally","Sometimes","Often","?")
("List map/reduction",map,"Never","Occasionally","Sometimes","Often","?")
("List set ops",set-ops,"Never","Occasionally","Sometimes","Often","?")
("Set select",set-patt,"Never","Occasionally","Sometimes","Often","?")
("Relative time",rtime,"Never","Occasionally","Sometimes","Often","?")
("Wall clock time",atime,"Never","Occasionally","Sometimes","Often","?")
("rtime arithmetic",rtime-plus,"Never","Occasionally","Sometimes","Often","?")
("Term ordering",order,"Never","Occasionally","Sometimes","Often","?")
("List/set membership",subset,"Never","Occasionally","Sometimes","Often","?")
("Conditional expressions",cond,"Never","Occasionally","Sometimes","Often","?")
("Lambda expression",lambda,"Never","Occasionally","Sometimes","Often","?")
("Mu expressions",mu,"Never","Occasionally","Sometimes","Often","?")
("Tau expressions",tau,"Never","Occasionally","Sometimes","Often","?")
("Theta expressions",theta,"Never","Occasionally","Sometimes","Often","?")
("Module expressions",module-exp,"module-exp","Occasionally","Sometimes","Often","?")
("Inc. assignment",inc-ass,"Never","Occasionally","Sometimes","Often","?")
("Mult. assignment",mult-ass,"Never","Occasionally","Sometimes","Often","?")
("Match assignment",match-ass,"Never","Occasionally","Sometimes","Often","?")
("Message forwardinf",forward,"Never","Occasionally","Sometimes","Often","?")
("Message from",from,"Never","Occasionally","Sometimes","Often","?")
("Message timeout",timeout,"Never","Occasionally","Sometimes","Often","?")
("Message timeout 0",timeout0,"Never","Occasionally","Sometimes","Often","?")
("Error recovery",onerror,"Never","Occasionally","Sometimes","Often","?")
("Modules",module,"Never","Occasionally","Sometimes","Often","?")
("Multiple import",import,"Never","Occasionally","Sometimes","Often","?")
("New operators",operator,"Never","Occasionally","Sometimes","Often","?")
("Associative ops",associative,"Never","Occasionally","Sometimes","Often","?")
("Postfix ops",postfix,"Never","Occasionally","Sometimes","Often","?")
("Macros",macro,"Never","Occasionally","Sometimes","Often","?")
("Macro patterns",macro-ptn,"Never","Occasionally","Sometimes","Often","?")
("Waitfor bltin",waitfor-bltin,"Never","Occasionally","Sometimes","Often","?")
("Handle funs",handle-bltin,"Never","Occasionally","Sometimes","Often","?")
("Socket funs",socket-bltin,"Never","Occasionally","Sometimes","Often","?")
("O/S funs",exec-bltin,"Never","Occasionally","Sometimes","Often","?")


